footer.site-footer.text-light
  .container
    .site-footer-inner.has-top-divider
      ul.footer-links.list-reset
        li
          a(href='#') Contact
        li
          a(href='#') About us
        li
          a(href='#') FAQ's
        li
          a(href='#') Support
      .footer-copyright
        | © 2018 Andrew Usher, all rights reserved